extends layout

block content

    .jumbotron
      .container
        h1 How May I Help You?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis tempus tortor, sed placerat metus. Nullam volutpat sed felis nec rutrum
        a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    .container
      .row  
        .col-md-4
          h2 About Us
          p Pellentesque convallis, leo nec rhoncus euismod, ante lorem sollicitudin neque, vitae pulvinar lacus elit eget sem. Proin quis auctor lectus, a luctus sem. Quisque ornare a ipsum nec molestie. Quisque posuere turpis sit amet accumsan aliquam. Suspendisse potenti. Duis et venenatis ligula, eget feugiat arcu. Nunc eleifend aliquam bibendum. Aenean vitae velit vel risus porta ultrices nec sed leo. Praesent venenatis lacinia tortor, eu tristique elit imperdiet lobortis.
          a.btn.btn-default(href='#') View Details
        .col-md-4
          h2 Services
          p Pellentesque convallis, leo nec rhoncus euismod, ante lorem sollicitudin neque, vitae pulvinar lacus elit eget sem. Proin quis auctor lectus, a luctus sem. Quisque ornare a ipsum nec molestie. Quisque posuere turpis sit amet accumsan aliquam. Suspendisse potenti. Duis et venenatis ligula, eget feugiat arcu. Nunc eleifend aliquam bibendum. Aenean vitae velit vel risus porta ultrices nec sed leo. Praesent venenatis lacinia tortor, eu tristique elit imperdiet lobortis.
          a.btn.btn-default(href='#') View Details
        .col-md-4
          h2 Get in touch
          p Pellentesque convallis, leo nec rhoncus euismod, ante lorem sollicitudin neque, vitae pulvinar lacus elit eget sem. Proin quis auctor lectus, a luctus sem. Quisque ornare a ipsum nec molestie. Quisque posuere turpis sit amet accumsan aliquam. Suspendisse potenti. Duis et venenatis ligula, eget feugiat arcu. Nunc eleifend aliquam bibendum. Aenean vitae velit vel risus porta ultrices nec sed leo. Praesent venenatis lacinia tortor, eu tristique elit imperdiet lobortis.
          a.btn.btn-default(href='#') View Details  